[FORMAT]

good-names=id

[MESSAGES CONTROL]

disable=missing-module-docstring,
        missing-function-docstring,
        import-error,
        cyclic-import,
        broad-exception-caught,
        redefined-builtin,
        redefined-outer-name,
        too-many-return-statements