{% extends "layout.html" %}
{% block title %}Create topic{% endblock %}
{% block content %}
    <div class="container py-3">
        <div style="width: 620px">
            <div class="row">
                <div class="col-12 h2">
                    Creating new topic
                </div>
            </div>
            <form action="/createtopic" method="POST">
                <div class="row">
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" name="title" id="title" placeholder="Topic title" style="width: 600px" value="{{ title or '' }}">
                            <label for="title">Topic title</label>
                        </div>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-12">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="secret" id="secret">
                            <label for="secret" class="form-check-label">Secret topic</label>
                        </div>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="d-grid justify-content-md-end">
                        <button type="submit" class="btn btn-outline-primary">Create topic</button>
                    </div>
                </div>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
    </div>
{% endblock %}