{% if notification %}
<p>{{ notification }}</p>
{% endif %}

{% if session.username %}
<p>
    Currently logged in as {{ session.username }}<br>
    <a href="/logout">Log out</a>
</p>
{% else %}
<form action="/login" method="POST">
    <p>
        Username:<br>
        <input type="text" name="username" value={{ username or "" }}>
    </p>
    <p>
        Password:<br>
        <input type="password" name="password">
    </p>
    <input type="submit" value="Log in">
</form>
<p><a href="/createuser">Create new user</a></p>
{% endif %}

{% if session.admin %}
<p><a href="/createtopic">Create new topic</a></p>
{% endif %}

<div>
    <h2>Topics:</h2>
    <hr>
    {% for topic in topic_list %}
    <a href="topic/{{ topic.id }}">{{ topic.title }}</a><br>
    Threads: {{ topic.thread_count or 0 }}<br>
    Messages: {{ topic.message_count or 0 }}<br>
    {% if topic.latest_time %}
    Latest message on {{ topic.latest_time.strftime("%Y-%m-%d, %H:%M:%S") }}
    in <a href="topic/{{ topic.id }}/thread/{{ topic.latest_id }}">{{ topic.latest_title }}</a>
    from {{ topic.latest_user }}
    {% endif %}
    <hr>
    {% endfor %}
</div>