{% if notification %}
<p>{{ notification }}</p>
{% endif %}

{% if session.username %}
<p>
    Currently logged in as {{ session.username }}<br>
    <a href="/logout">Log out</a>
</p>
<p><a href="/createtopic">Create new topic</a></p>
{% else %}
<form action="/login" method="POST">
    <p>
        Username:<br>
        <input type="text" name="username">
    </p>
    <p>
        Password:<br>
        <input type="password" name="password">
    </p>
    <input type="submit" value="Log in">
</form>
<p><a href="/createuser">Create new user</a></p>
{% endif %}

<div>
    <h2>Topics:</h2>
    <hr>
    {% for topic in topic_list %}
    <a href="topic/{{ topic[0] }}">{{ topic[1] }}</a>
    <hr>
    {% endfor %}
</div>