{% extends "layout.html" %}
{% block title %}Search{% endblock %}
{% block content %}
    <div class="container py-3">
        <div class="row">
            <div class="col-12 h2">
                Search results for: {{ query }}
            </div>
        </div>
        {% for message in messages %}
        <div class="container my-3">
            <div class="h4">
                Thread: 
                <a href="/topic/{{ message.topic_id }}/thread/{{ message.thread_id }}">
                    {{ message.thread_title }}
                </a>
            </div>
            <div class="container border rounded bg-light mb-3">
                <div class="row border-bottom">
                    <div class="col-8 fw-bold fs-5">
                        {{ message.username }}
                    </div>
                    <div class="col-4 fw-light">
                        <div class="d-grid justify-content-md-end">
                            {{ message.time.strftime("%Y-%m-%d, %H:%M:%S") }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 py-2" style="overflow-wrap:break-word">
                        {{ message.content }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}