<h1>{{ thread.title }}</h1>
<hr>
{% for message in messages %}
<div><b>{{ message.username }}</b></div>
<p>
    {{ message.content }}
</p>
<hr>
{% endfor %}

{% if session.user_id %}
<form action="/topic/{{ topic_id }}/thread/{{ thread_id }}/createmessage" method="POST">
    <p>
        Reply:<br>
        <textarea name="content" rows="8" cols="60"></textarea>
    </p>
    <input type="submit" value="Create reply">
</form>
{% endif %}

<br>
<div><a href="/topic/{{ topic_id }}">Return to topic</a></div>
<br>
<div><a href="/">Return to front page</a></div>