<h1>{{ thread.title }}</h1>
<hr>
<div><b>(thread user goes here)</b></div>
<p>
    {{ thread.content }}
</p>

<hr>
<hr>
{% for reply in replies %}
<div><b>(reply user goes here)</b></div>
<p>
    {{ reply.content }}
</p>
<hr>
{% endfor %}

{% if session.user_id %}
<form action="/topic/{{ topic_id }}/thread/{{ thread_id }}/createreply" method="POST">
    <p>
        Reply:<br>
        <textarea name="content" rows="8" cols="60"></textarea>
    </p>
    <input type="submit" value="Create reply">
</form>
{% endif %}

<a href="/topic/{{ topic_id }}">Return</a>