{% extends "layout.html" %}
{% block title %}{{ thread.title }}{% endblock %}
{% block content %}
    <div class="container py-3">
        <div class="row">
            <div class="col-9 h2">
                <a href="/topic/{{ topic.id }}" class="text-decoration-none">{{ topic.title }}</a>
            </div>
        </div>

        <div class="row">
            <div class="col-12 h1 py-3" style="overflow-wrap:break-word">
                {{ thread.title }}
            </div>
        </div>

        {% for message in messages %}
            {% if message.username == thread.username %}
            <div class="container border rounded bg-primary bg-opacity-10 mb-3">
            {% else %}
            <div class="container border rounded bg-light mb-3">
            {% endif %}
                <div class="row border-bottom">
                    <div class="col-8 fw-bold fs-5">
                        {{ message.username }}
                    </div>
                    <div class="col-4 fw-light">
                        <div class="d-grid justify-content-md-end">
                            {{ message.time.strftime("%Y-%m-%d, %H:%M:%S") }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 py-2" style="overflow-wrap:break-word">
                        {{ message.content }}
                    </div>
                {% if message.username == session.username %}
                    <div class="col-4 py-3">
                        <div class="d-grid justify-content-md-end">
                            <div class="btn-group" role="group">
                                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#edit_{{ message.id }}">Edit</button>
                                <button class="btn btn-outline-danger" type="button" data-bs-toggle="collapse" data-bs-target="#remove_{{ message.id }}">Remove</button>
                            </div>
                        </div>
                        <div class="collapse" id="remove_{{ message.id }}">
                            {% if loop.index == 1 %}
                                <form action="/topic/{{ topic.id }}/thread/{{ thread.id }}/removethread" method="POST">
                                    <div class="d-grid justify-content-md-end pt-2">
                                        <button type="submit" class="btn btn-danger">Remove thread</button>
                                    </div>
                                </form>
                            {% else %}
                                <form action="/topic/{{ topic.id }}/thread/{{ thread.id }}/removemessage/{{ message.id }}" method="POST">
                                    <div class="d-grid justify-content-md-end pt-2">
                                        <button type="submit" class="btn btn-danger">Remove message</button>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                    <div class="collapse" id="edit_{{ message.id }}">
                        {% if loop.index == 1 %}
                            <form action="/topic/{{ topic.id }}/thread/{{ thread.id }}/editthread/{{ message.id }}" method="POST">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" name="title" id="title" placeholder="Title" style="width: 500px" value={{ thread.title }}>
                                            <label for="title">Title</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 mt-2">
                                        <div class="form-floating">
                                            <textarea class="form-control" name="content" id="content" placeholder="Content" style="height: 150px">{{ message.content }}</textarea>
                                            <label for="content">Content</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row py-3">
                                    <div class="d-grid justify-content-md-end">
                                        <button type="submit" class="btn btn-outline-primary">Confirm edit</button>
                                    </div>
                                </div>
                            </form>
                        {% else %}
                            <form action="/topic/{{ topic.id }}/thread/{{ thread.id }}/editmessage/{{ message.id }}" method="POST">
                                <div class="row">
                                    <div class="col-12">
                                        <textarea class="form-control" name="new_content" id="edit_{{message.id}}_Textarea" style="height: 150px">{{ message.content }}</textarea>
                                    </div>
                                </div>
                                <div class="row py-3">
                                    <div class="d-grid justify-content-md-end">
                                        <button type="submit" class="btn btn-outline-primary">Confirm edit</button>
                                    </div>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                {% endif %}
                </div>
            </div>
        {% endfor %}

        {% if session.user_id %}
            <form action="/topic/{{ topic.id }}/thread/{{ thread.id }}/createmessage" method="POST">
                <div class="row">
                    <div class="col-12">
                        <div class="form-floating">
                            <textarea class="form-control" name="content" id="replyTextarea" placeholder="Reply" style="height: 150px"></textarea>
                            <label for="replyTextarea">Reply</label>
                        </div>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="d-grid justify-content-md-end">
                        <button type="submit" class="btn btn-outline-primary">Send reply</button>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}